:root {
    background: rgb(70, 70, 70);
    color: rgb(200, 200, 200);
    font-size: large;
}
#toc_container {
    border: 2px solid rgb(238, 255, 0);
    color: rgb(255, 255, 255);
    background-color: rgb(105, 105, 105);
    width: 80%;
    display: table;
    font-size: 80%;
    margin-bottom: 1em;
    margin: 0 auto;
    align-content: center;
}
#toc_title {
    font-size: large;
    text-align: center;
}
h2 {
    color: rgb(11, 226, 47);
    text-align: center;
}
a:link {
    color: rgb(0, 255, 255);
}
a:visited {
    color: rgb(255, 124, 179);
}
.important {
    color: rgb(255, 94, 94);
}