html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f1f1f1;
}

footer {
    background-color: #404142;
    color: white;
    padding: 15px;
    width: 100%;
    position: absolute;
    bottom: 0
}

#main {
    background-color: #fff;
    padding-bottom: 100px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row {
    display: flex;
}

.jumbotron {
    padding: 20px 5px;
}

.project {
    font-size: 12px;
}

.project-img {
    margin: 10px;
    width: 50px;
    height: 50px;
}

/* Set black background color, white text and some padding */


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}