body {
    background-color: #f1f1f1;
}

body, html {
    height:100%;
    margin:0;
    padding:0;
}

footer {
    background-color: #404142;
    color: white;
    padding: 15px;
    width: 100%;
}

#main {
    min-height: 100%;
    background-color: #fff;
}

.navbar-brand {
    padding: 5px 15px 0px 15px;
}

#logo {
    border-radius: 25%;
    width: 40px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row {
    display: flex;
}

.jumbotron {
    padding: 20px 5px;
}

.project {
    font-size: 12px;
}

.project-img {
    margin: 10px;
    width: 50px;
    height: 50px;
}

/* Set black background color, white text and some padding */


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}